#root {
  background-image: url("../images/bing-hao-_wqj9tC0WSE-unsplash.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  width: 40rem;
  height: 30rem;
  background-color: $transparent-background;
  border-radius: 1%;
}
