.nav {
  margin: auto;
  padding-top: 1rem;
  width: 400px;
  height: 110px;
}

.progress {
  width: 100%;
  margin-top: 5px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps {
  /* background-color: rgb(128, 128, 128, 0.6); */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $steps-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-step {
  margin: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: $steps-color;
  border: none;
  border-radius: 50%;
}

.line {
  width: 60px;
  height: 1px;
  background-color: $steps-color;
}

.progress-txt-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.progress-txt {
  padding-top: 1rem;
  width: 76px;
  height: 40px;
  text-align: center;
  font-size: $font-size-small;
  color: rgba(0, 0, 0, 0.7);
}

// .step1 {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   background-color: rgb(154, 208, 236);
// }
