// font
$font-main: "Raleway", sans-serif;
$font-color-main: black;
$font-size-regular: 1.7rem;
$font-size-bigish: 2rem;

$transparent-background: rgba(255, 255, 255, 0.8);
$black-line: solid 2px rgba(0, 0, 0, 0.4);
$component-width: 37rem;
